<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h2>Cabecera</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci voluptas perspiciatis voluptatem id ut sint consectetur atque autem suscipit, labore modi facilis distinctio provident! Aliquam aliquid, veniam illo recusandae laudantium.</p>
						<p><a href="" class="btn btn-warning" role="button">Ver detalles</a></p>
					
							</div>
			<div class="col-md-3">
				<h2>Cabecera</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates eius modi similique omnis distinctio nisi blanditiis nihil nemo, explicabo! Repellat, porro eius ipsum quod totam earum iusto omnis, voluptates animi!</p>
						<p><a href="" class="btn btn-warning" role="button">Ver detalles</a></p>
					
			
			</div>
			<div class="col-md-3">
				<h2>Cabecera</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit aliquid veritatis nam repellendus eum excepturi, ex repellat eius et maxime suscipit tempora cupiditate totam laborum illo recusandae, reiciendis. Quo, numquam.</p>
						<p>
						<%= boton "Entrar", "index", "btn btn-warning"  %>
						</p>
					
			
			</div>
			<div class="col-md-3">
				<h2>Cabecera</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ab officiis doloremque animi, possimus odit, alias quia neque assumenda ipsam rerum maxime non, facilis! Saepe consequuntur atque labore dolorem veritatis.</p>
						<p><a href="" class="btn btn-warning" role="button">Ver detalles</a></p>
					
				
			</div>
		</div>
	</div>


		<!-- End Holder -->